.table-wrapper {
    width: 100%;
    margin-top: 10%;
  }

table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 50%;
    margin: auto;
  }

td, th {
    border: 2px solid black;
    width: 100%;
}